*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
}

.section1{
    display: flex;
    justify-content: space-between;
    height: 30vh;
    width: 100%;
}

.titulo_dashRT{
    display: flex;
    font-size: 35px;
    padding: 30px;
    color: rgb(71, 71, 71);
    height: 20px;
    width: 500px;
}

.div_select_setor{
    display: flex;
    width: 200px;
    height: 30px;
    justify-content: center;
}

.select_setor{
    display: flex;
    width: 120px;
    height: 30px;
}

.box_kpi{
    display: flex;
    height: 60px;
    width: 90%;
    justify-content: space-around;
    font-size: 15px;
    justify-self: center;
    border: 0.5px solid rgba(128, 128, 128, 0.452);
}

.inicio_dashboard_RT{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}