*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
}

.dashboard {
    width: var(--tamanho-largura-dash);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.container {
    border: 2px solid red;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container2 {
    height: 60%;
    border: 2px solid red;
    width: 100%;
}

.titulo_dashRT {
    font-size: 35px;
    color: rgb(71, 71, 71);
}

.div_select_setor {
    display: flex;
    height: 30px;
}

.select_setor {
    width: 120px;
    height: 30px;
}

.box_kpi {
    height: 20%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 15px;
    border: 0.5px solid rgba(128, 128, 128, 0.452);
}

.box_kpi2 {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
}

.container_kpi {
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    border: 0.5px solid rgba(128, 128, 128, 0.452);
}