/* Reset de estilos e definição de box-sizing */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* Variáveis CSS */
/* :root {
  --autura-header: 115vh;
  --largura-all: 99.06vw;
   --autura-header: 1000px;
  --largura-all: 1500px;
} */

/* Estilos gerais do body */
body {
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  /* height: var(--autura-header);
  width: var(--largura-all); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Nav Bar */
.container_nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo{
  height: 100%;
  width: 11%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo span {
  font-size: 160%;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100%;
  width: 68%;
}

.itens_nav {
  display: flex;
  justify-content: center;
  width: 65%;
}

.itens_nav li {
  width: 10%;
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 25px;
}

.itens_nav a {
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.itens_nav a:hover {
  color: #f39c12;
}

.itens_nav li:last-child {
  margin-right: 0;
}

.btn_sentinelas{
  background-color: #FBE969;
  height: 70%;
  width: 15%;
  padding: 10px 20px;
  border-radius: 35px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_sentinelas a {
  color: #1a1a1a;
  text-decoration: none;
}

.btn_sentinelas:hover {
  background-color: #fdcf00;
}

/* Section 1 */
.container_section1 {
  /* background-color: aquamarine; */
  height: 250vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section1_titulo {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 70vh;
  width: 100%;
}

.section1_titulo h1{
  height: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1_titulo div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  width: 100%;
}
.section1_titulo div span{
  background-color: #FFE792;
}

#imagemRobo1, #imagemRobo2{
  /* background-color: brown; */
  height: 50vh;
  width: 50%;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#imagemRobo1{
  background-image: url(../assets/img/robo1.svg);
}
#imagemRobo2{
  background-image: url(../assets/img/robo2.svg);
}

.section1_desc {
  /* background-color: #1a1a1a; */
  font-size: 200%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1_desc p{
  /* background-color: aliceblue; */
  display: flex;
  text-align: center;
  height: 80%;
  width: 85%;
}

.quatroMotivos {
  /* background-color: chartreuse; */
  height: 25%;
  display: flex;
  align-items: center ;
  justify-content: space-evenly;
}

.motivoUm,
.motivoDois,
.motivoTres,
.motivoQuatro {
  background-color: #dadada;
  padding: 20px;
  border-radius: 5px;
  width: 20%;
  height: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.motivoUm_titulo,
.motivoDois_titulo,
.motivoTres_titulo,
.motivoQuatro_titulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.motivoUm_desc,
.motivoDois_desc,
.motivoTres_desc,
.motivoQuatro_desc {
  font-size: 16px;
}

/* Corrigido: Remover a repetição do .imgUm e ajuste das propriedades */
.imgUm, .imgDois, .imgTres, .imgQuatro {
  height: 38%;
  width: 44%;
  display: flex;
  background-size: cover; /* Garante que a imagem ocupe toda a área */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  background-position: center; /* Centraliza a imagem na div */
}

.imgUm {
  background-image: url(../assets/img/relogio.svg);
}

.imgDois {
  background-image: url(../assets/img/chave.svg);
}

.imgTres {
  background-image: url(../assets/img/alerta.svg);
  height: 38%;
  width: 49%;
}

.imgQuatro {
  background-image: url(../assets/img/lampada.svg);
}

.container_monitoramento{
  background-color: #f39c12;
  height: 37%;
  width: 100%;
}

.container_monitoramento h1{
  background-color: aqua;
  height: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
}